<app-header></app-header>
<div class="container news-article">
    @if (article) {
    <h2 class="article-title">{{article.title}}</h2>
    <div class="article-info-writer">
        <p class="article-author">Tác giả: {{article.author}}</p>
        <span class="article-date">Ngày xuất bản: {{article.publishedAt | date:
            'medium'
            }}</span>
    </div>
    <p class="article-description">{{article.description}}</p>
    @if (article.urlToImage) {
    <img [src]="article.urlToImage" [alt]="article.title" class="article-image"> }@else {
    <img src="/assets/images/error404.png" [alt]="article.title" class="article-image"> }
    <a [href]="article.url" class="article-reference">Có thể xem bài
        viết tại đây</a> }@else {
    <p>No article available data</p>
    }

    <div class="container-topnews" #containerTopNews>
        <h3 class="heading-related">Các bài viết liên quan</h3>
        <div class="topnews">
            @for (article of articles.slice(0, 7); track $index) {
            <div class="new" (click)="viewArticle(article)">
                <div class="card card-news" style="width: 14rem;">
                    <img [src]="article.urlToImage" class="card-img-top card-img-news" [alt]="article.title" (error)="onImageError($event)">
                    <div class="card-body info-news">
                        <p class="card-text card-title">{{article.title | truncate: 35}}</p>
                        <p class="card-text card-date">{{article.publishedAt | date: "medium"}}</p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>