<app-header></app-header>
<div class="container news-article">
    @if (article) {
    <h2 class="article-title">{{article.title}}</h2>
    <div class="article-info-writer">
        <p class="article-author">Tác giả: {{article.author}}</p>
        <span class="article-date">Ngày xuất bản: {{article.publishedAt | date:
            'medium'
            }}</span>
    </div>
    <p class="article-description">{{article.description}}</p>
    @if (article.urlToImage) {
    <img [src]="article.urlToImage" [alt]="article.title" class="article-image">
    }@else {
    <img src="/assets/images/error404.png" [alt]="article.title"
        class="article-image"> }
    <p class="article-content">{{article.content}}</p>
    <a [href]="article.url" class="article-reference">Có thể tham khảo thêm bài
        viết tại đây</a> }@else {
    <p>No article available data</p>
    }
</div>