<app-header (selectCategory)="onSelectCategoryName($event)"></app-header>
<section class="section-news">
    <main>
        <div class="news-hottop">
            <h3 class="heading-new">Top news</h3>
            <div class="container-topnews" #containerTopNews>
                <div class="topnews">
                    @for (article of articles.slice(0, 10); track $index) {
                    <div class="new">
                        <div class="card card-news" style="width: 14rem;">
                            <img [src]="article.urlToImage"
                                class="card-img-top card-img-news"
                                [alt]="article.title"
                                (error)="onImageError($event)">
                            <div class="card-body info-news">
                                <p class="card-text card-title">{{article.title
                                    | truncate: 35}}</p>
                                <p
                                    class="card-text card-date">{{article.publishedAt
                                    | date: "medium"}}</p>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>

        <div class="container news-category mt-5">
            <h2 class="heading-category mb-4">{{selectedName}}</h2>
            <div class="row">
                @for (ac of articleCategory; track $index) {
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="card" style="width: 14rem;">
                        <img [src]="ac.urlToImage"
                            class="card-img-top card-img-news" [alt]="ac.title"
                            (error)="onImageError($event)">
                        <div class="card-body">
                            <p class="card-text">{{ac.title}}</p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </main>
</section>