.heading-new {
    margin: 24px 125px;
    font-size: 26px;
    font-weight: 500;
    text-transform: capitalize;
    color: #40b2dc;
}

.section-news {
    margin: 250px 0;
}

.topnews {
    padding: 0 125px;
    transition: all 0.3s cubic-bezier(.11, -0.43, -49, 1.34);
    display: flex;
    align-items: flex-start;
    column-gap: 12px;
    transition: all 1.5s cubic-bezier(.12, .7, .95, .42);
    cursor: pointer;
    .news {
        transition: all 1.2s;
    }
}

.card-news {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
    &:hover {
        transform: translateY(-5px);
    }
}

.card-img-news {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.info-news {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-title {
    font-size: 16px;
    font-weight: 500;
    color: #444;
    line-height: 1.4;
}

.card-body {
    font-size: 14px;
    color: #777;
}

.news-category {
    padding: 0 90px;
}

.heading-category {
    font-size: 26px;
    font-weight: 500;
    text-transform: capitalize;
    color: #40b2dc;
}

.category-card {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}